<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <embed src="/static/BrainLogo.svg" width="100" height="100" style="margin-top:-15px; margin-bottom: -30px; margin-left: 10px" class="d-inline-block align-top" alt="">
      <p>CONVALESCE</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="align-items: center;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" style="font-size:20px; color: black" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="font-size:20px; color: black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Memory Bank
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/post">New Post</a>
            <a class="dropdown-item" href="/past_msgs">Old Posts</a>
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="font-size:20px; color: black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Quick Links
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/hotlines">Hotlines & Phone Numbers</a>
            <a class="dropdown-item" href="/resources">Websites & Resources</a>
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"style="font-size:20px; color: black" href="/about">About Us</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div style="font-family: Poppins; padding: 20px">
  <h3>Why We Made This & Our Goal:</h3>
  	<p>
  		Over the course of the last two years due to COVID-19 mental health has finally been acknowledged within numerous communities for the first times. As families could no longer visit each other and were confined to just their houses, stress began to increase, tensions within households arose, and lives were lost, people all around the world were affected by the pandemic in their own way. This confinement and lack of freedom has led to an increase in mental health issues around the world, with a 30% increase in adults reporting symptoms of anxiety and/or depressive disorder between 2019 and 2020 in the US alone. With this increase a light has been shone on this overlooked issue and people are coming to terms with mental health being just as important if not more than your physical health. 
	
		As high school students ourselves many of our peers (and us included) have experienced issues with our mental health and previously didn’t think twice of them, but with these issues being amplified by COVID we only felt it was necessary to create a product to address this. Our goal with this project was to create something that could address the majority of mental health issues, if not all, such as anxiety, depression, stress, burnout, and eating disorders. We hope to provide an experience which will allow our users to understand what is happening to them, more importantly to understand what the cause of their problem may be and what steps should be taken to address it. On top of this Convalesce should be a place to talk about your problems with no worry of being judged by others or feeling vulnerable, and a place where you can find places to get help and support.
	</p>
  <h3>Plans For The Future:</h3>
  	<p> In our next update we aim to:
  		<ol>
  			<li>Improve our chatbot to hold longer, as well as basic, conversations and improve its range of responses</li>
  			<li>Add the option to upload photos and videos into the memory bank to look at later</li>
  			<li>Offer a collaborative opportunity to allow your close friends and family to add messages or voice notes for you view at your own discretion</li>
  		</ol>
	</p>
  <h3>About The Founders:</h3>
  	<p>
  		Sri & Sid are students at SAS and UWC Dover (respectively) and are currently in G12, as well as a part of the class of 2022. 
	</p>
</div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>