<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <embed src="/static/BrainLogo.svg" width="100" height="100" style="margin-top:-15px; margin-bottom: -30px; margin-left: 10px" class="d-inline-block align-top" alt="">
      <p>CONVALESCE</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="align-items: center;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" style="font-size:20px; color: black" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="font-size:20px; color: black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Memory Bank
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/post">New Post</a>
            <a class="dropdown-item" href="/past_msgs">Old Posts</a>
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="font-size:20px; color: black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Quick Links
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/hotlines">Hotlines & Phone Numbers</a>
            <a class="dropdown-item" href="/resources">Websites & Resources</a>
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"style="font-size:20px; color: black" href="/about">About Us</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <h1 style="font-family: Poppins; text-align: center; margin-top: 30px;">Websites & Resources</h1>
	<div style="font-family: Poppins; padding-left: 110px; display: flex; flex-wrap: wrap;">
	<div style="width: 250px; padding-right: 20px;">
		<br>
		<h2>Stress</h2>
		<a href="https://my.clevelandclinic.org/health/articles/11874-stress" target="_blank"> 
			Stress Signs, Symptoms, Management & Prevention
		</a><br>
		<a href="https://www.healthline.com/health/stress/effects-on-body" target="_blank"> 
			Stress's Effects On Your Body
		</a><br>
		<a href="https://www.webmd.com/balance/guide/tips-to-control-stress" target="_blank"> 
			Tips To Control Stress
		</a><br>	
		<a href="https://www.skillsyouneed.com/ps/stress-tips.html" target="_blank"> 
			Stress Tips
		</a><br>	
	</div>
	<div style="padding-right: 20px;">
		<br>
		<h2>Eating Disorders</h2>
		<a href="https://www.aware.org.sg/information/eating-disorders/" target="_blank"> 
			Eating Disorders Aware Organization
		</a><br>
		<a href="https://www.healthline.com/nutrition/common-eating-disorders" target="_blank"> 
			6 Common Eating Disorder
		</a><br>
		<a href="https://www.helpguide.org/articles/eating-disorders/eating-disorder-treatment-and-recovery.htm" target="_blank"> 
			Eating Disorders' Treatment & Recovery
		</a><br>	
		<a href="https://www.healthline.com/health/eating-disorder/therapy-for-eating-disorders" target="_blank"> 
			Therapy For Eating Disorders
		</a><br>	
	</div>
	<div style="padding-right: 20px;">
		<br>
		<h2>Lack Of Motivation</h2>
		<a href="https://www.betterhelp.com/advice/motivation/common-causes-of-lack-of-motivation-and-how-to-overcome-them/" target="_blank"> 
			Common causes Of A Lack Of Motivation
		</a><br>
		<a href="https://www.deanbokhari.com/lack-of-motivation/" target="_blank"> 
			Causes and Solutions For A Lack Of Motivation
		</a><br>
		<a href="https://www.verywellmind.com/what-to-do-when-you-have-no-motivation-4796954" target="_blank"> 
			What To Do When You Have No Motivation
		</a><br>	
		<a href="https://www.healthline.com/health/depression/depression-motivation-tips" target="_blank"> 
			Boosting Motivation 
		</a><br>	
	</div>
	<div style="padding-right: 20px;">
		<br>
		<h2>Depression</h2>
		<a href="https://www.psychiatry.org/patients-families/depression" target="_blank"> 
			Help With Depression
		</a><br>
		<a href="https://www.healthline.com/health/depression" target="_blank"> 
			Everything About Depression
		</a><br>
		<a href="https://www.medicalnewstoday.com/articles/325513" target="_blank"> 
			The Hidden Signs Of Depression
		</a><br>	
		<a href="https://www.everydayhealth.com/depression/guide/" target="_blank"> 
			Coping With Depression
		</a><br>	
	</div>
</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>